<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>


      <div class="top_content">
        <center><h1>Rock Paper Scissors</h1></center>

        <center><div class="btn-green">Login</div></center>
        <center><div class="btn-green">Sign Up</div></center>
        <div class="rps right"><img src="http://s17.postimg.org/6vlt99xu7/rps.jpg"/></div>


      </div>

      <div class="bottom_content">

      </div>

    </body>
</html>
